@charset "UTF-8";

body {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN","メイリオ", Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, sans-serif;
}

h1,h2,h3,p {
  color: #333;
}

a {
  text-decoration: none;
}

/* -------------- ヘッダー -------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
}

.logo {
  display: inline-block;
  line-height: 70px;
  padding-left: 15px;
  padding-right: 20px;
  color: #333;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}

.nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: block;
  padding: 15px;
  color: #333;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
  header .head-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav ul {
    display: flex;
  }
}

@media (max-width: 767px) {
  header .head-area-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .humburger {
    margin-right: 15px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    opacity: 0.5;
    cursor: pointer;
  }

  .humburger:hover {
    opacity: 0.2;
  }

  .nav {
    display: none;
    background-color: rgba(0,0,0,0.4);
  }

  .nav a {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .humburger {
    display: none;
  }

  .nav {
    display: block !important;
  }
}


/* -------------- メインビジュアル -------------- */


.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F0F0;
  height: 50vh;
}

.maincopy h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 14vw;
  line-height: 1em;
  letter-spacing: 2px;
  text-align: center;
}

.maincopy p {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}

.maincopy {
  display: block;
}

@media (min-width: 768px) {
  .maincopy h1 {
    font-size: 50px;
  }
}


/* -------------- コンテンツ:ヘッダー -------------- */


.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-color {
  background-color: #F5F0F0;
}

.section-title {
  font-family: 'Barlow', sans-serif;
  font-size: 6vw;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
}

.section-lead {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  line-height: 1.6;
  letter-spacing: .8px;
}

@media (min-width: 768px) {
  .section-heading h2 {
    font-size: 26px;
  }
}

/* -------------- コンテンツ:WORKS -------------- */

.section-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.section-con article {
  margin-top: 60px;
  flex: 1 1 500px;
}

.section-con a {
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  color: #333;
  text-decoration: none;
}

.section-con a:hover {
  opacity: 0.5;
}

.section-con .photo img {
  width: 100%;
}

.section-con .text {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.text h3 {
  font-size: 1rem;
}

.text p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-top: 10px;
}

.text .details {
  margin-top: 20px;
}


/* -------------- コンテンツ:ABOUT -------------- */

.section-about {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.about-text p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-top: 20px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .about-img {
    display: block;
    text-align: center;
  }

  .about-text p {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 810px;
  }

  .about-img {
    flex: 2;
  }

  .about-text {
    flex: 3;
  }
}

/* -------------- コンテンツ:SKILL -------------- */

.section-skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.section-skill article {
  display: flex;
  margin-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
  flex: 1 1 500px;
}

.section-skill .photo img {
  width: 100%;
}

.section-skill .text {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.text h3 {
  font-size: 1rem;
}

.text p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-top: 10px;
}

.text .details {
  margin-top: 20px;
}


/* -------------- コンテンツ:CONTACT -------------- */

.section-contact {
  margin-top: 60px;
  display: block;
  text-align: center;
}

.section-contact img {
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .section-contact img {
    width: 40%;
    margin-left: 15px;
    margin-right: 15px;
  }
}


/* -------------- フッター -------------- */


.bg-footer {
  background-color: #2F2F2F;
  padding-top: 15px;
  padding-bottom: 15px;
}

.copyright {
  font-size: 12px;
  color: #FFF;
  text-align: center;
}
